.loading {
    border:     1px solid #cccccc;
    opacity:    .25;
    text-align: center;
    vertical-align: middle;
    font-size:  2em;
    min-height: 10em;
    padding-top: 10%;
}

.top-bar {
    margin-bottom: 1em;
}

.user-controls {
    color: #ffffff;
}

.left-off-canvas-menu {
    background: inherit;
}

.search-options {
    margin-top:  .5em;
    padding-top: .5em;
    border-top:  1px dashed #e9e9e9;
}