<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>common-includes}}
  </head>
  <body>
    {{{body}}}

    {{> common-footer}}
    <script type="text/javascript">
        $(document).foundation();
    </script>
  </body>
</html>
