<!DOCTYPE html>
<html>
  <head>
    <title>Unified Listing</title>
    {{>common-includes}}
  </head>
  <body>
    <a class="topbar-skip-link" href="#main" tabindex="0">Skip to Main Content</a>

    {{{body}}}

    {{> common-footer}}

    <script type="text/javascript">
        $(document).foundation();
    </script>
  </body>
</html>
