<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>common-includes}}
      <link rel="stylesheet" href="/css/updates.css"/>
  </head>
  <body>
    <!-- include the header -->
    {{> common-header}}

    <div>
        {{{body}}}
    </div>

    {{> common-footer}}
  </body>
</html>
