{{>common-topbar "databases"}}

<div class="row" role="main" id="main" tabindex="0">
  <div class="column medium-12">
    <div class="panel">
      <h3>Welcome to the Unified Listing Database Administrator Landing Page</h3>
      <p>Database administrators are a key source of information about products found in the Unified Listing.</p>
    </div>

    <h3>Add Your Data to the Unified Listing</h3>
    <p>
        If you would like to add your data to the Unified Listing <a href="mailto:tony@raisingthefloor.org">please get in touch</a>.
    </p>

    <h3>Check for Updates</h3>
    <p>
        If you are already submitting your data, you can <a href="/updates">view a report comparing your records to the rest of the Unified Listing</a>.
    </p>

  </div>
</div>

{{>common-page-user-controls}}