<div class="row">
    <div class="forgot-viewport"/>
</div>

<!-- Bring in client libraries -->
<script type="text/javascript" src="/gpii-ecu/forgot.js"></script>

<!-- configure and instantiate our module -->
<script type="text/javascript">
    var forgot = gpii.express.couchuser.frontend.forgot(".forgot-viewport", {
        gradeNames: ["gpii.ul.hasUserControls"],
        model: {
        user: {{#if req.session.user}}{{{jsonify req.session.user }}}{{else}}null{{/if}}
        }
    });
</script>


