{{> common-topbar}}

<div class="row body" role="main" id="main" tabindex="0">
    <div class="column small-12">
        <div class="forgot-viewport"/>
    </div>
</div>

{{{initBlock "gpii.ul.hasUserControls" "gpii.express.user.frontend.forgot"}}}

