{{>common-topbar "index"}}

<div class="row" role="main" id="main" tabindex="0">
    <div class="column small-12">
        <div class="panel"><h1>Welcome the Unified Listing</h1></div>

        <p>The Unified Listing is a resource for people who want to find assistive technology solutions and mainstream products with assistive features.</p>

        <p>The data that powers this site was prepared as part of the <a href="http://gpii.net/cloud4all">Cloud 4 All</a> initiative.</p>

        <p>The user interface is a work in progress that will be updated as part of the <a href="http://gpii.net/prosperity4all">Prosperity 4 All</a> initiative.</p>
    </div>
</div>

{{>common-page-user-controls}}