{{>common-topbar "login"}}

<div class="login-viewport"></div>

<!-- Bring in out client libraries -->
<script type="text/javascript" src="/gpii-ecu/login.js"></script>
<script type="text/javascript" src="/gpii-ecu/loginWithControls.js"></script>

<!-- configure and instantiate our module -->
<script type="text/javascript">
    var login = gpii.express.couchuser.frontend.loginWithControls({
        container: "body",
        model: {
            user: {{#if req.session.user}}{{{jsonify req.session.user }}}{{else}}null{{/if}}
        }
    });
</script>
