{{>common-topbar "reset"}}

<div class="row">
    <div class="reset-viewport" role="main" id="main" tabindex="0"></div>
</div>

<!-- Bring in client library being tested -->
<script type="text/javascript" src="/gpii-ecu/js/client/passwordCheckingForm.js"></script>
<script type="text/javascript" src="/gpii-ecu/js/client/reset.js"></script>

{{{initBlock "gpii.ul.hasSkipNavLink" "gpii.ul.hasUserControls" "gpii.express.couchuser.frontend.reset"}}}
