{{>common-topbar "reset"}}

<div class="row">
    <div class="reset-viewport"></div>
</div>

<!-- Bring in client library being tested -->
<script type="text/javascript" src="/gpii-ecu/passwordCheckingForm.js"></script>
<script type="text/javascript" src="/gpii-ecu/reset.js"></script>

<!-- configure and instantiate our module -->
<script type="text/javascript">
    var reset = gpii.express.couchuser.frontend.reset(".reset-viewport", {
        gradeNames: ["gpii.ul.hasUserControls"],
        model: {
        user: {{#if req.session.user}}{{{jsonify req.session.user }}}{{else}}null{{/if}}
        }
    });
</script>


