{{>common-topbar "search"}}

<section role="main" id="main" class="scroll-container" tabindex="0">
    <div class="row">
        <div class="search-viewport column small-12 medium-12"/>
    </div>
</section>

<!-- Bring in client libraries-->
<script type="text/javascript" src="/js/components/select.js"></script>
<script type="text/javascript" src="/js/components/status.js"></script>
<script type="text/javascript" src="/js/components/toggle.js"></script>
<script type="text/javascript" src="/js/components/locationBar.js"></script>
<script type="text/javascript" src="/js/components/search-navbar.js"></script>
<script type="text/javascript" src="/js/components/search.js"></script>

{{{initBlock "gpii.ul.hasSkipNavLink" "gpii.ul.hasUserControls" "gpii.ul.search"}}}

