<html>
    <head>
        <title>Search the Unified Listing</title>

        {{>common-includes}}

        <!-- Bring in client library being tested -->
        <script type="text/javascript" src="/js/components/search-navbar.js"></script>
        <script type="text/javascript" src="/js/components/search.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="search-viewport column medium-12"/>
        </div>

        <!-- configure and instantiate our module -->
        <script type="text/javascript">
            var search = gpii.ul.search(".search-viewport");
        </script>
    </body>
</html>



