{{>common-topbar "signup"}}

<div class="body">
    <div class="signup-viewport"></div>
</div>

<!-- Bring in client libraries -->
<script type="text/javascript" src="/gpii-ecu/passwordCheckingForm.js"></script>
<script type="text/javascript" src="/gpii-ecu/signup.js"></script>

<!-- configure and instantiate our module -->
<script type="text/javascript">
    var signup = gpii.express.couchuser.frontend.signup(".signup-viewport", {
        gradeNames: ["gpii.ul.hasUserControls"],
        model: {
        user: {{#if req.session.user}}{{{jsonify req.session.user }}}{{else}}null{{/if}}
        }
    });
</script>
