{{>common-topbar "signup"}}

<div class="body">
    <div class="signup-viewport" role="main" id="main" tabindex="0"></div>
</div>

<!-- Bring in client libraries -->
<script type="text/javascript" src="/gpii-ecu/js/client/passwordCheckingForm.js"></script>
<script type="text/javascript" src="/gpii-ecu/js/client/signup.js"></script>

{{{initBlock "gpii.ul.hasSkipNavLink" "gpii.ul.hasUserControls" "gpii.express.couchuser.frontend.signup"}}}