{{>common-topbar "databases"}}

<div class="ul-updates-viewport"></div>

<script src="/js/components/updates.js"></script>

{{{initBlock "gpii.ul.hasSkipNavLink" "gpii.ul.hasUserControls" "gpii.ul.updates"}}}
