{{>common-topbar "verify"}}

<div class="row">
    <div class="verify-viewport" role="main" id="main" tabindex="0"></div>
</div>

{{{initBlock "gpii.ul.hasSkipNavLink" "gpii.ul.hasUserControls" "gpii.express.couchuser.frontend.verify"}}}