<html>
    <head>
        <title>Verify your Unified Listing account.</title>

        {{>common-includes}}

        <!-- Bring in client library being tested -->
        <script type="text/javascript" src="/gpii-ecu/verify.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="verify-viewport"></div>
        </div>

        <script type="text/javascript">
            var verify = gpii.express.couchuser.frontend.verify(".verify-viewport");
        </script>
    </body>
</html>


