<hr/>
<div class="row">
    <div class="column small-12 medium-4">
        <h6>Raising the Floor - International</h6>
        Geneva, 1204 Switzerland<br/>
        +41 22 518 07 95<br/>
        <a href="mailto:info@RaisingTheFloor.org">info@RaisingTheFloor.org</a>
    </div>
</div>