<hr/>
<div class="row">
    <p>The data that powers this site was prepared as part of the <a href="http://gpii.net/cloud4all">Cloud 4 All</a> initiative.</p>
    <p>The user interface is a work in progress that will be updated as part of the <a href="http://gpii.net/prosperity4all">Prosperity 4 All</a> initiative.</p>
</div>