<div class="panel">
    {{#if record.uid}}
      <p>Use this form to contribute changes to an existing product record in the Unified Listing.</p>
    {{else}}
      <p>Use this form to contribute a new product to the Unified Listing.</p>
    {{/if}}
</div>

<div class="contribute-success"></div>
<div class="contribute-error"></div>
<div class="contribute-form"></div>