<!-- The main body -->
<div class="record-error"></div>
<div class="record-success"></div>

<div class="record-viewport">
    <div class="record-view"/>

    <div class="record-edit" style="display: none"/>
</div>
