{{#if sources}}
  <ul>
    {{#each sources}}
      <li>
          <a href="/record?source={{source}}&sid={{sid}}" target="_blank">
              {{#equals source @root.user.username}}
                  View your suggested updates to this record.
              {{else}}
                  {{source}}
              {{/equals}}
          </a>
      </li>
    {{/each}}
  </ul>
{{/if}}