{{#if showNavBar}}
  <div class=".pagination-centered">
    <ul class="pagination" role="menubar" aria-label="Pagination">
        {{>search-navbar-previous}}
        {{>search-navbar-next}}
    </ul>
  </div>
{{/if}}