

<!-- The main body -->
<div class="search-error"></div>
<div class="search-success"></div>

<div class="row">
    <div class="column medium-1 medium-text-center small-3 small-text-center">
        <a class="search-options-toggle" href="#">
            <span class="foundicon-general-settings"></span>
            <br/>
            <span>Options</span>
        </a>
    </div>
    <div class="column medium-11 small-9">
        <div class="search-query"></div>
    </div>
</div>
<div class="row">
    <div class="column medium-12 small-9">
        <!-- Advanced search controls -->
        <div class="search-options" style="display: none;">
            <div class="row">
                <div class="search-limit  column medium-12"></div>
                <div class="search-sort   column medium-12"></div>
                <div class="search-status column medium-12"></div>
            </div>
        </div>
    </div>
</div>

<hr/>
<div class="search-topnav"></div>

<div class="search-records"></div>

<div class="search-bottomnav"></div>

<hr/>

<p>Can't find the product you're looking for?  <a href="/contribute">Contribute a new product.</a></p>