<form class="search-query-form">
    <div class="row collapse">
        <div class="search-query-success"/>
        <div class="search-query-error"/>
        <div class="column small-10">
            <input type="text"   name="q"   class="search-query-string"/>
        </div>
        <div class="column small-2">
            <input type="submit" value="Go" class="search-query-submit button postfix"/>
        </div>
    </div>
</form>