<!-- TODO: Migrate this to a "content aware" part of the API when this feature is complete:  https://github.com/GPII/gpii-express/pull/6 -->
{{#if pagedRecords.length}}
  <ul>
    {{#each pagedRecords}}
      <li><a href="/record?source={{source}}&sid={{sid}}">{{name}}</a></li>
    {{/each}}
  </ul>
{{else}}
  <p>No records found.  Please update your search terms.</p>
{{/if}}
