<div class="search-error"></div>
<div class="search-success"></div>
<div class="search-query"></div>
<div class="search-topnav"></div>
<div class="search-records"></div>
<div class="search-bottomnav"></div>