<div class="ul-updates-output">
    {{#each records}}
        <dl class="accordion" data-accordion>
            <dd class="accordion-navigation">
                <a href="#unified-accordion-{{@index}}">
                    <h3>Unified Record {{uid}} (click to view federated records)</h3>
                    <table>
                        <thead>
                        <tr>
                            <th width="15%">Name</th><th width="55%">Description</th><th width="15%">Manufacturer</th><th width="15%">Updated</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{>updates-unified-record}}
                        </tbody>
                    </table>
                </a>
                <div id="unified-accordion-{{@index}}" class="content">
                    <h3>Federated Records for UID {{uid}}</h3>
                    <table>
                        <thead>
                        <tr>
                            <th width="15%">Source/ID</th><th width="15%">Name</th><th width="40%">Description</th><th width="15%">Manufacturer</th><th width="15%">Updated</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each sources}}
                                {{>updates-source-record}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </dd>
        </dl>
    {{/each}}
</div>

